[submodule "deer-flow"]
	path = deer-flow
	url = https://github.com/bytedance/deer-flow.git
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "claw-code"]
	path = claw-code
	url = https://github.com/ultraworkers/claw-code.git
[submodule "learn-claude-code"]
	path = learn-claude-code
	url = https://github.com/shareAI-lab/learn-claude-code.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "openhands"]
	path = openhands
	url = git@github.com:OpenHands/OpenHands.git
[submodule "claude-code-complete-guide_v2"]
	path = claude-code-complete-guide_v2
	url = https://github.com/bcefghj/claude-code-complete-guide_v2.git
